<div class="page-grid">
  <div class="sidebar">
    <layout-sidebar></layout-sidebar>
  </div>
  <div class="page-content">
    <shared-list-products [products]="products"></shared-list-products>
  </div>
</div>
