<header class="header">
  <div class="limiter-content">
    <div class="header-grid">
      <div class="logo">
        <a [routerLink]="['/']" class="title">EL BARATÓN</a>
      </div>
      <nav class="menu" *ngIf="items">
        <ul class="items">
          <shared-menu-item [item]="item" *ngFor="let item of items"></shared-menu-item>
        </ul>
      </nav>
      <div class="options">
        <a [routerLink]="['/car']" class="link">
          <i class="fa fa-shopping-bag"></i>
        </a>
      </div>
    </div>
  </div>
</header>
