@import "_colors";
@import "_variables";

a {
  color: $color-black;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
}

.header {
  background-color: $color-blue;
  padding: ($padding*.5) 0;
  position: relative;
  z-index: 99;
  .header-grid {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  padding-right: ($padding*2);
  width: 280px;
  .title {
    font-size: 1.35em;
    font-weight: 900;
    line-height: 1em;
    margin: 0;
  }
}

.menu {
  font-size: .75em;
  font-weight: 900;
  width: 100%;
}

.options {
  a {
    color: $color-white;
  }
}

:host ::ng-deep{
  .menu {
    a {
      color: $color-black;
      display: flex;
      justify-content: space-between;
      line-height: 1em;
    }
    & > .items {
      display: flex;
      justify-content: flex-start;
      margin: 0 (-$padding*1);
      padding: 0;
      .item {
        padding: ($padding*.75) ($padding*.5);
        position: relative;
        .items {
          background-color: $color-black;
          display: none;
          left: 100%;
          min-width: 130px;
          padding: 0;
          position: absolute;
          top: 0;
          z-index: 2;
          a {
            color: $color-white;
            font-weight: 300;
          }
        }
        &:hover {
          & > .items {
            display: block;
          }
        }
      }
      & > shared-menu-item {
        padding: 0 ($padding*1);
        & > .item {
          padding: ($padding) 0;
          & > a {
            & > .fa {
              display: none;
            }
          }
          & > .items {
            left: 0;
            top: 100%;
          }
        }
      }
    }
  }
}
