@import "_colors";
@import "_variables";

.footer {
  display: flex;
  justify-content: flex-end;
  padding: ($padding*.5) 0;
}

.form {
  &.small {
    align-items: center;
    display: flex;
    span {
      margin: 0 ($padding*.5);
    }
    .input {
      width: 50%;
    }
  }
}
