<form [formGroup]="form">
  <div class="form" [ngClass]="size">
    <div class="input">
      <input type="text" class="form-control form-control-sm" formControlName="from">
    </div>
    <span>a</span>
    <div class="input">
      <input type="text" class="form-control form-control-sm" formControlName="to">
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-sm btn-danger" (click)="filterData()">FILTRAR</button>
  </div>
</form>
