.limiter-content {
  display: block;
  margin: auto;
  max-width: $limiter-content;
  width: 100%;
}

.page-grid {
  align-items: stretch;
  display: flex;
  .sidebar {
    padding-right: ($padding*2);
    width: 280px;
  }
  .page-content {
    width: 100%;
  }
}
