<form class="filter-form" [formGroup]="formFilter">
  <div class="form-section">
    <h3 class="form-title">Disponibilidad</h3>
    <div class="input">
      <label>Solo disponibles <input type="checkbox" formControlName="available"></label>
    </div>
  </div>
  <div class="form-section">
    <h3 class="form-title">Precio</h3>
    <div class="input">
      <shared-form-range [size]="'small'" (filter)="filterData('price', $event)"></shared-form-range>
    </div>
  </div>
  <div class="form-section">
    <h3 class="form-title">Unidades</h3>
    <div class="input">
      <shared-form-range [size]="'small'" (filter)="filterData('quantity', $event)"></shared-form-range>
    </div>
  </div>
</form>
