@import "_colors";
@import "_variables";

.filter-form {
  .form-section {
    border-bottom: 1px solid $color-white;
    margin-bottom: ($padding*2);
  }
  .form-title {
    border-bottom: 1px solid $color-red;
    font-size: 1em;
    font-weight: 900;
    margin-bottom: ($padding);
    padding: ($padding*.25) 0;
    text-transform: uppercase;
  }
  .input {
    label {
      align-items: center;
      display: flex;
      font-size: 1em;
      justify-content: space-between;
      input[type=checkbox] {
        $size: $padding;
        height: $size;
        width: $size;
      }
    }
  }
}
