<li class="item" *ngIf="item">
  <a [routerLink]="['/category', item.id, item.name]" class="link">{{ item.name }} <i class="fa fa-angle-right" *ngIf="item.sublevels"></i></a>
  <ul class="items" *ngIf="item.sublevels">
    <shared-menu-item [item]="subitem" *ngFor="let subitem of item.sublevels"></shared-menu-item>
  </ul>
</li>
