@import "_colors";
@import "_variables";

.product {
  border: 1px solid $color-white;
  padding: ($padding*.5);
  text-align: center;
  .title {
    font-size: 1.3em;
    font-weight: 900;
    text-transform: uppercase;
  }
  .data {
    .info {
      .badge {
        margin: 0 ($padding*.125);
      }
    }
  }
  .footer {
    margin-top: ($padding*.5);
  }
}
