<article class="product">
  <h2 class="title">{{ product.name }}</h2>
  <div class="data">
    <h3 class="price">${{ product.price | number }}</h3>
    <div class="info">
      <span class="badge" [ngClass]="{'badge-success': product.available}">{{ (product.available)?'Disponible':'No disponible' }}</span>
      <span class="badge badge-secondary">{{ product.quantity }}</span>
    </div>
  </div>
  <div class="footer">
    <button class="btn btn-success btn-sm btn-block" (click)="addCar(product)">AGREGAR</button>
  </div>
</article>
