<div class="car">
  <div class="alert alert-warning" role="alert" *ngIf="products.length == 0">
    No hay productos en el carrito!!!
  </div>
  <div class="list" *ngIf="products.length > 0">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Precio Unidad</th>
          <th>Cantidad</th>
          <th>Total Neto</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>${{ product.price | number }}</td>
          <td>{{ product.cant }}</td>
          <td>${{ (product.price * product.cant) | number }}</td>
          <td><button class="btn btn-danger" (click)="deleteProduct(product)">Quitar</button></td>
        </tr>
      </tbody>
    </table>
    <div class="footer">
      <button class="btn btn-success btn-lg" (click)="pay()">REALIZAR COMPRA</button>
    </div>
  </div>
</div>
