<form class="order" [formGroup]="orderForm">
  <label>
    <span>Ordenar por: </span>
    <select class="form-control" formControlName="order">
      <option value="">-- Seleccione una opción --</option>
      <option value="1">De menor a mayor precio</option>
      <option value="2">De mayor a menor precio</option>
      <option value="3">De menor a mayor cantidad</option>
      <option value="4">De mayor a menor cantidad</option>
    </select>
  </label>
</form>
<div class="list">
  <div class="item col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let product of productsOrder">
    <shared-product [product]="product"></shared-product>
  </div>
</div>
