@import "_colors";
@import "_variables";

.order {
  display: flex;
  justify-content: flex-end;
  margin-bottom: ($padding*2);
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin: (-$padding);
  .item {
    //width: 25%;
    padding: ($padding);
  }
}
