<div class="page-grid">
  <div class="sidebar">
    <layout-sidebar (filter)="filter($event)"></layout-sidebar>
  </div>
  <div class="page-content">
    <shared-list-products #listProducts [products]="productsFilter"></shared-list-products>
  </div>
</div>
