/* You can add global styles to this file, and also import other style files */
@import 'scss/main';

* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  color: $font-color;
  font-family: $font-text;
  font-size: $font-size;
  font-weight: $font-weight;
  overflow-x: hidden;
}
